@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 250px;
    background: url("https://media.istockphoto.com/id/1480381152/vector/seamless-pattern-with-avocado-healthy-vegan-food-vector-abstract-modern-illustration.jpg?s=2048x2048&w=is&k=20&c=Gn7vDWyGvusHX5PXlBuYDXuf_MHwDeEdETUK7CR2b90=");
}

.toDoListContainer {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 650px;
    background-color: #F5F3E5;
    border-radius: 8px;
}

.header {
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 40px;
    border-bottom: 3px solid lightgray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #864119;
    color: white;
}

.addTaskContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding: 10px;
    gap: 10px;
}

.addTaskContainer input {
    outline: none;
}

.enterTask {
    height: 20px;
    width: 520px;
    border: none;
    border-bottom: 1px solid darkgray;
    background-color: transparent;
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px;
}

.addTaskBtn {
    width: 130px;
    height: 28px;
    border-radius: 4px;
    background-color: rgb(23, 96, 253);
    color: white;

}

.addTaskBtn:hover {
    background-color: rgb(9, 68, 196);
    cursor: pointer;
}

.displayTaskContainer {
    display: flex;
    flex-direction: column;
    max-height: 540px;
    padding: 10px;
    margin-top: 10px;
    gap: 2px;
    overflow: hidden;
}

.displayTaskContainer:hover {
    overflow-y: auto;
}

.taskRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.taskRow button {
    border: none;
    background-color: transparent;
    
}

.material-symbols-outlined {
    color: lightgray;
}

.material-symbols-outlined:hover {
    color: #333;
    cursor: pointer;
}

.taskComplete {
    height: 20px;
    width: 20px;
}

.taskItem {
    font-size: 16px;
    line-height: 20px;
    width: 565px;
}